@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary-blue: #137fec;
  --color-primary-bg: #f6f7f8;
  --color-secondary-bllue: #d0e5fb;
  --color-options-font-blue: #155dfc;
  --color-gray-font: #6a7282;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

body {
  box-sizing: border-box;
  overflow: auto !important;
  scroll-behavior: smooth;
  /* background: var(--background);
  color: var(--foreground); */
  font-family: var(--font-inter), "system-ui", "sans-serif";
}

.herosection-box {
  height: calc(90vh - 80px);
}
.gray-text {
  color: "#6a7282";
}
